@page
@model IndexModel
@{
    ViewData["Title"] = "Slowcial Sharing";
}

<ul id="sitelist">
    @foreach (var site in Model.Sites)
    {
        <a class="sitename" asp-page="/Summary" asp-route-siteName="@site.Name"><li>@site.Name</li></a>
    }
</ul>
