<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SlowcialSharing</title>
    <link rel="stylesheet" href="~/lib/holiday.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SlowcialSharing.styles.css" asp-append-version="true" />

</head>

<body>
    <header>
        <h1>Slowcial Sharing</h1>
        <nav>
            <ul>
                <li><a asp-page="/Index">Home</a></li>
                <li><span>Pages</span>
                    <ul id="sites">
                        <li><a asp-page="/Summary" asp-route-siteName="lobste.rs">Lobsters</a></li>
                        <li><a asp-page="/Summary" asp-route-siteName="news.ycombinator.com">Hacker News</a></li>
                    </ul>
                </li>
                <li><a asp-page="/About">About</a></li>
            </ul>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        A project by <a href="https://nathanielknight.ca">Nat Knight</a>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>