<p>
Slowcial Sharing subscribes to the RSS feeds of social link sharing sites and presents their content one day at a time, and with a slight time offset. This lets you keep up with things as they're shared, but without the addictive dopamine hit that you get from subscribing in real time.</p>

<p>
Sites are checked for new shared links every hour; link scores and comment counts are saved 24 hours after the link is posted. A new batch of links is presented every midnight UTC.</p>

<p><b>TODO:</b> update times & summary bounds</p>

<p>Built with <a href="https://www.phoenixframework.org">Phoenix</a> and <b>TODO: what else?</b></p>
