@page
@model IndexModel
@{
    ViewData["Title"] = "Slowcial Sharing";
}

<h1>Slowcial Sharing</h1>

<ul>
    @foreach (var site in Model.Sites)
    {
        <a asp-page="/Summary" asp-route-siteName="@site.Name"><li>@site.Name</li></a>
    }
</ul>