@page "{siteName}"
@model SlowcialSharing.Pages.SummaryModel
@{
    var items = @Model.Items;
}

@if (items is null)
{
    <p>No summary for @Model.siteName yet.</p>
}
else 
{
<ul>
    @foreach (var item in @Model.Items)
    {
        <li class="item">
            @item.ToString()
        </li>
    }
</ul>
}

